@media screen and (max-width: 1200px) {
    .container {
        padding: 1rem;
        max-width: 100%;
    }
    
    .activity-section {
        gap: 2rem;
    }
}

@media screen and (max-width: 992px) {
    .hero-title {
        font-size: 3rem;
    }
    
    .hero-subtitle {
        font-size: 1.2rem;
    }
    
    .hero-button {
        padding: 12px 24px;
        font-size: 24px;
    }
    
    .activity-section {
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 20px;
    }
    
    .activity-content {
        padding: 1rem;
    }
    
    .activity-title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 768px) {

    .hero {
        height: 50vh;
    }
    
    .hero-title {
        font-size: 2rem;
    }
    
    .hero-subtitle {
        font-size: 1rem;
    }
    
    .hero-button {
        padding: 10px 20px;
        font-size: 18px;
        margin-top: 0px;
    }
    
    h1 {
        font-size: 1.6rem;
        padding: 2rem 5% 0.2rem;
    }
    
    .activity-section {
        margin: 1rem 0;
        padding: 15px;
    }

     .activity-section:first-child {
        opacity: 1;
        transform: translateY(0);
        margin-top: -2rem;
    }

    .activity-section:not(:first-child) {
        opacity: 0;
    }

    .activity-section:not(:first-child).visible {
        opacity: 1;
    }
    
    .activity-image {
        aspect-ratio: 1.2;
        margin-right: 0;
    }
    
    .activity-title {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
    
    .activity-description {
        font-size: medium;
    }
    
    .divider {
        margin-bottom: 1.5rem;
    }

    .activity-section:nth-child(3) {
        grid-template-areas: "image" "content";
    }
    
    .activity-section:nth-child(3) .activity-image {
        margin-left: 0;
    }
}

@media screen and (max-width: 480px) {
    .hero-title {
        font-size: 1.1rem;
    }
    
    .hero-subtitle {
        font-size: 0.rem;
    }
    
    .hero-button {
        padding: 8px 16px;
        font-size: 16px;
    }
    
    .activity-title {
        font-size: 1.5rem;
    }
    
    .activity-description {
        font-size: small;
    }
}

img {
    max-width: 100%;
    height: auto;
}



@media screen and (min-width: 769px) {

    .hero-content {
        background-color: transparent;
        padding: 5px;

    }
    
    .hero-title {
        padding: 5px;
        white-space: nowrap;
        width: 0;
        animation: typing 2s steps(20, end) forwards;
    }
    
}