::-webkit-scrollbar {
    width: 5px;
    
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #9b15de
    , #3f045d);
    border-radius: 6px;
  }

  html, body {
    overflow-x: hidden;
  }
  
 