<header>
    <img src="../images/logo.png" alt="СУ Йордан Йовков">

    <div class="nav-toggle" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <nav>
        <ul>
            <li><a href="../index.html">Начало</a></li>
            <li><a href="../html/about.html">За паралелката</a></li>
            <li class="dropdown">
                <a href="#program" class="dropdown-toggle">Обучение <i class="fa fa-caret-down"></i>   </a>
                <ul class="dropdown-menu">
                    <li><a href="../html/training-program.html">Учебна програма</a></li>
                    <li><a href="../html/extracurricular.html">Извънкласни дейности</a></li>
                    <li><a href="../html/devmentor.html">Менторска програма</a></li>
                </ul>
            </li>
            <li><a href="../html/projects.html">Проекти</a></li>
            <li><a href="../html/contact.html">Контакти</a></li>
        </ul>
    </nav>
</header>
